<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bulma-0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>To Do List</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="columns" style="margin-top: 45px;">
            <div class="column is-one-quarter" style="margin:auto;">
                <div class="card">
                    <div class="card-content">
                        
                        <div v-for="(todo,index) in todos" :key="index">
                            <div class="field has-text-right">    
                                <button class="button-is-rounded" @click="del(index)">X</button>
                            </div>
                            <div class="field">
                                <button v-if="todo.prioritas == 'Penting'" class="button is-primary is-light">Penting</button>
                                <button v-else-if="todo.prioritas == 'Biasa'" class="button is-warning is-light">Biasa</button>
                                <button v-else-if="todo.prioritas == 'Tidak Penting'" class="button is-danger is-light">Tidak Penting</button>
                            </div>
                            <div class="field">
                                <h4>{{ todo.nama }}</h4>
                            </div>
                            <div class="field">
                                <p>{{ todo.catatan }}</p>
                            </div>
                        </div>
                        
                    </dic>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="field">
                            <p class="control">
                                <label class="label">Apa yang mau kamu kerjakan?</label>
                                <input name="nama" id="nama" class="input" type="text" placeholder="">
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <label class="label">Penting gak?</label>
                                <div class="select">
                                    <select name="prioritas" id="prioritas">
                                        <option value=""></option>
                                        <option value="Penting">Penting</option>
                                        <option value="Biasa">Biasa</option>
                                        <option value="Tidak Penting">Tidak Penting</option>
                                    </select> 
                                </div>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <label class="label">Ada catatan penting?</label>
                                <input name="catatan" id="catatan" class="input" type="text" placeholder="">
                            </p>
                        </div>
                    </div>
                    <div>
                        <button class="button is-info" @click="reset">Reset</button>
                        <button class="button is-success" @click="add">Simpan</button>
                    </div>
                </div>
            </div>
            <div class="footer has-text-centered">
                {{ `${data.nama} | ${data.npm} | ${data.kelas}` }}
            </div>
            
        </div>
        
    </div>    
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            data: {
                nama: 'Joseph Maria Ahimsa Yubileo Windhu',
                npm: '180709626',
                kelas: 'D',
            },
            todos: [],
        },
        methods:{
            add(){
                nama = document.getElementById('nama');
                prioritas = document.getElementById('prioritas');
                catatan = document.getElementById('catatan');
                todo = {
                    nama: nama.value,
                    prioritas: prioritas.value,
                    catatan: catatan.value,
                }
                this.todos.push(todo);
                console.log(this.todos);
                document.getElementById('nama').value="";
                document.getElementById('prioritas').value="";
                document.getElementById('catatan').value="";

            },  
            del(index){
                
                this.todos.splice(index,1);
            },
            reset(){
                
                document.getElementById('nama').value="";
                document.getElementById('prioritas').value="";
                document.getElementById('catatan').value="";
            },
        },
    });
</script>
</html>